extends template

block content
  div(class="row")
      h2 Video destacado:
      iframe(src=item.video, width="560", height="315", frameborder="0", allowfullscreen)
      h2 Álbum:
      p #{item.album}
      h2 Artista:
      p #{item.artist}
      h2 Año de lanzamiento:
      p #{item.release}
      h2 Tipo de álbum:
      p #{item.type}
      h2 Descripción:
      p #{item.description}
      h2 Audio destacado:
      audio(controls)
        source(src=item.audio, type="audio/mp3")
      h2 Carátula:
      img(src=item.image)