extends template

block content
  section(class="album-section")
    div(class="")
      img(src=item.image, class="image-poster", alt=item.alt)
    div(class="album-info")
      h2 Álbum:
      p #{item.album}
      h2 Artista:
      p #{item.artist}
      h2 Año de lanzamiento:
      p #{item.release}
      h2 Tipo de álbum:
      p #{item.type}
      h2 Descripción:
      p(class="description") #{item.description}
      h2 Canción destacada:
      audio(controls)
        source(src=item.audio, type="audio/mp3")
    div(class="album-info")
      h2 Canciones del álbum:
      each song in item.songs
        p #{song.id}. #{song.song}
  div(class="video")
    h2 Video destacado:
    iframe(src=item.video, width="560", height="315", frameborder="0", allowfullscreen)