extends template

block content
  section(class="row")
    div(class="col-xs-12 col-sm-6")
      h2 Video destacado:
      iframe(src=item.video, width="560", height="315", frameborder="0", allowfullscreen)
    div(class="col-xs-12 col-sm-6")
      h2 Álbum:
      p #{item.album}
      h2 Artista:
      p #{item.artist}
      h2 Año de lanzamiento:
      p #{item.release}
      h2 Tipo de álbum:
      p #{item.type}
      h2 Descripción:
      p #{item.description}
    div(class="col-xs-12 col-sm-6")
      h2 Carátula:
      img(src=item.image, alt=item.alt)
    div(class="col-xs-12 col-sm-6")
      h2 Canciones:
      each song in item.songs
        ul
          li #{song.id}. #{song.song}
      h2 Canción destacada:
      audio(controls)
        source(src=item.audio, type="audio/mp3")