extends template

block content
  div(class="row")
    div(class="col-6")
      video(controls, poster=item.image)
        source(src=item.video, type="video/mp4")
    div(class="col-6")
      h2 Album:
      p #{item.album}
      h2 Artist:
      p #{item.artist}
      h2 Description:
      p #{item.description}
      h2 Audio:
      audio(controls)
        source(src=item.audio, type="audio/mp3")