extends template

block content
  section(class="row space-xs")
    each item in data
      article(class="articles center-xs col-xs-12 col-sm-4 col-md-3")
        div
          img(src=item.thumbnail, class="image", alt=item.alt, title=item.album)
          h2() Álbum:
            p #{item.album}
          h2 Artista:
          p #{item.artist}
          a(href=`/albums?id=${item.id}`, class="button") Ver más información